.camping_philosophy {
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../img/index/camping-tours/black-background-top.webp);
  .camping_philosophy__container {
    padding: 0 auto;
    width: 100%;
    align-items: center;
    align-content: center;

    .camping-philosophy__item {
      margin: 20px auto;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  .media_content__container {
    display: flex;
  }

}