/* .btn-primary {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.4px;
    border: none;
    border-radius: 35px;
    background: var(--btn-primary);
    padding: 12px 27px;
    transition: background 0.5s ease;
}

.cart-icon {
    width: 50px;
    height: 37.20px;
    opacity: 0.55;
    border-radius: 30px;
    background: var(--btn-primary);
    transition: background 0.5s ease;
}

.cart-icon:hover {
    opacity: 1;
}

.btn-light{
    font-size: 14px;
    color: var(--text-dark);
    border: solid 2px var(--btn-outline-dark);
    border-radius: 25px;
    padding: 13px 37px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1;
    background: transparent;
    transition: all 0.5s ease;
}

.btn-light:hover{
    color: var(--btn-primary);
    border-color: var(--btn-primary);
}

.btn-primary:hover {
    background: var(--btn-primary-hover);
}

/* @media (min-width: 1110px) {
    .header__background {
        background-position: 51% 50%;
    }

    .header__nav {
        padding: 45px 0;
        gap: 8px;
    }

    .header__menu-btn {
        display: none;
    }

    .header__nav-menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        order: 2;
        gap: 8px;
        height: auto;
    }

    .nav-list {
        flex-direction: row;
        font-size: 15px;
        gap: 30px;
    }

    .header__nav-btn {
        margin-left: 20px;
    }
}

@media (min-width: 1200px) {
    .header__nav {
        gap: 15px;
    }

    .header__nav-menu {
        order: 0;
    }

    .btn-sub-nav {
        display: none;
    }

    .btn-nav {
        display: block;
    }

    .header__nav-btn {
        margin-left: 0;
    }
} */ */