@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text-white: aliceblue;
  --color-text-black: #1c1c1b;
  --color-button-brite: #fbb01f;
  --color-button-mouse-on: #1c1c1b;
  --font-header-h1: Luckiest Guy;
  --font-h2: Passion One;
  --font-span: Montserrat;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;
}

.navbar__logo{
  width: 135px;
  height: 60px;
  object-fit: cover;

}

.navbar__menu-social_media_item{
  width: 40px;
  height: 40px;
  object-fit: cover;

}

h1{
  font-family: var(--font-header-h1);
  color: var(--color-text-white);
  font-size: 5rem;
  letter-spacing: .6rem;
}

h2.whiteColor{
  font-family: var(Passion One);
  color:var(--color-text-white);
  font-size: 3rem;
  letter-spacing: .6rem;
}

h2.blackColor{
  font-family: var(Passion One);
  color:var( --color-text-black);
  font-size: 3rem;
  font-weight: bold;
  /* letter-spacing: .6rem; */
}

p{
  color:var(--color-text-white);
}

span{
  font-family: var(--font-span);
}

li{
  list-style: none;
}

@media (min-width: 992px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 15px;
  }
}