@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-color: #fff;
  --text-dark: #27292b;
  --text-warm-light: #fff5eb;
  --text-cold-light: #626060;
  --text-menu-light: #b9aea7;
  --dark-text-accent: #706e6e;
  --light-text-accent: #ffffffdb;
  --text-description-accent: #684f40;
  --text-address-light: #706e6e;
  --subtitle-menu-light: #fff5eb;
  --subtitle-font-size: 20px;
  --text-variant-grey: #595959;
  --input-text: #7e7f81;
  --btn-primary: #e1a455;
  --btn-outline-dark: #684f40;
  --btn-outline-light: #fff;
  --btn-primary-hover: #ff8542;
  --btn-outline-hover: #e1a455;
  --light-link-header: #ffffffd4;
  --light-link-hover: #684f40;
  --input-background: #e5e5e5;
  --background-dark: #27292b;
  --about-us-header-text: #27292b;
  --about-us-header-paragraph: #626060;
  --about-us-link-border: #684f40;
  --about-us-link-text: #684f40;
  --border-contact-form-light: #83b3db;
  --border-contact-form-dark: #84ADCB;
  --our-bread-text-description: rgb(112,110,110);
  --background-contact-form: rgba(0, 0, 0, 0.6);
  --menu-btn-icon-light-hover: #ffffff1c;
  --menu-btn-icon-dark-hover: #ffca843d;
  --menu-svg-fill-hover: #ffac4040;
  --error-color: red;
  --color-text-white: aliceblue;
  --color-text-black: #1c1c1b;
  --color-button-brite: #fbb01f;
  --color-button-mouse-on: #1c1c1b;
  --font-header-h1: Luckiest Guy;
  --font-h2: Passion One;
  --font-span: Montserrat;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;
}

.navbar__logo{
  width: 135px;
  height: 60px;
  object-fit: cover;

}

.navbar__menu-social_media_item{
  width: 40px;
  height: 40px;
  object-fit: cover;

}

h1{
  font-family: var(--font-header-h1);
  color: var(--color-text-white);
  font-size: 5rem;
  letter-spacing: .6rem;
}

h2.whiteColor{
  font-family: var(Passion One);
  color:var(--color-text-white);
  font-size: 3rem;
  letter-spacing: .6rem;
}

h2.blackColor{
  font-family: var(Passion One);
  color:var( --color-text-black);
  font-size: 3rem;
  font-weight: bold;
  /* letter-spacing: .6rem; */
}

p{
  color:var(--color-text-white);
}

span{
  font-family: var(--font-span);
  font-size: 1.1rem;
}

li{
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 24px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
      padding: 0 32px;
  }
}

@media (min-width: 992px) {
  .container {
      padding: 0 40px;
  }
}

@media (min-width: 1400px) {
  .container {
      padding: 0 15px;
  }
}