<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wild Life</title>
    <link
      rel="shortcut icon"
      href="img/global/wild.shortcut.icon.png"
      type="image/image/svg+xml"
    />
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="header__nav-nav" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.navbar.partial.html"></nav>
    <header class="header">
          <div class="header__container container">
              <!-- <nav class="header__container-nav320" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.navbar.partial.html"></nav> -->
              <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header.hero.partial.html"></section>
      </div>
  </header>
    Camping is Our Philosophy
    <!-- <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.camping.philosophy.partial.html"
    ></section> -->
    <!-- Camping Tours -->
    <!-- <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.camping.tours.partial.html"
    ></section> -->
    <!-- Our Team -->
    <!-- <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.our.team.partial.html"
    ></section> -->
    <!-- Gallery -->
    <!-- <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.gallery.partial.html"
    ></section> -->
    <!-- Want to Get Closer to Nature? -->
    <!-- <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.closer.to.nature.partial.html"
    ></section> -->
    <!-- Footer -->
    <!-- <footer>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></section>
    </footer> -->
    <script type="module" src="./js/index.js"></script>
    <script type="module" src="./js/camping-philosophy.js"></script>
  </body>
</html>
