.header-hero {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto 1080px; 
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(../../img/index/index.header-hero-v3.png);
    z-index: -20;

    .header-hero__content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}