@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;
}

h1{
  font-family: Luckiest Guy;
  color:aliceblue;
  font-size: 5rem;
  letter-spacing: .7rem;
}

p{
  color:aliceblue;
}
